.m-dropdown {
    > .a-btn {
        &[aria-expanded=true] {
            .m-dropdown__arrow {
                transform: rotate(180deg);
            }
            ~ .m-dropdown__list {
                display: block;
            }
        }
        &[aria-expanded=false] {
            .m-dropdown__arrow {
                transform: rotate(0);
            }
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: inline-block;
    position: relative;
}

.m-dropdown--full-width {
    width: 100%;
    display: block;
    > .a-btn {
        width: 100%;
    }
}

.m-dropdown__current-selection {
    @include ds-spacing-em(ml, quarter);
}

.m-dropdown__arrow {
    @include ds-spacing-em(ml, half);
    transition: fill 0.15s ease-in-out;
    transform: scale(1.25);
    fill: $ds-colors-white;
    width: 1em;
    height: 1em;
}

.m-dropdown__list {
    @include ds-spacing-em(mt, half);
    box-shadow: 0 ds-px-to-em(3) ds-px-to-em(5) 0 rgba(0, 0, 0, 0.05);
    border-radius: ds-px-to-em(4);
    min-width: 200px;
    background-color: $ds-colors-white;
    border: ds-px-to-em(1) solid $ds-colors-gallery;
    position: absolute;
    padding-left: 0;
    margin-bottom: 0;
    top: calc(100%);
    left: 0;
    z-index: 1;
    display: none;
}

.m-dropdown__list-item {
    font-size: ds-px-to-em(14);
    margin-bottom: 0;
    list-style: none;
    a {
        @include ds-spacing-em(px, one);
        @include ds-spacing-em(py, half);
        color: $ds-colors-pantone-cool-gray-4;
        transition-property: color, background-color;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        text-decoration: none;
        display: block;
        width: 100%;
    }
}

.m-dropdown__list-item a:hover,
.m-dropdown__list-item a:focus,
.m-dropdown__list-item--selected {
    background-color: $ds-colors-gallery;
}

.m-dropdown__list-item a:hover,
.m-dropdown__list-item a:focus,
.m-dropdown__list-item--selected a {
    color: darken($ds-colors-pantone-cool-gray-4, 10%);
}

@each $button-name, $colors-map in $ds-btn-colors-map {
    $background-color: map-get($colors-map, background-color);
    $color: map-get($colors-map, color);

    .m-dropdown {
        > .a-btn--#{$button-name} {
            &.a-btn--outline {
                .m-dropdown__arrow {
                    fill: $background-color;
                }
            }
            &.a-btn--outline:hover,
            &.a-btn--selected {
                .m-dropdown__arrow {
                    fill: $color;
                }
            }
        }
    }
}