//------------------------------
//
// Components > Organisms > Card
//------------------------------

.o-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: ds-px-to-em(6);
    border: ds-px-to-em(1) solid $ds-colors-gallery;
    box-shadow: 0 ds-px-to-em(3) ds-px-to-em(4) 0 rgba(0, 0, 0, 0.04);
    background-color: $ds-colors-white;
}

.o-card__header,
.o-card__body,
.o-card__footer {
    @include ds-spacing-em(px, one);
}

.o-card__body,
.o-card__footer {
    @include ds-spacing-em(py, one);
}

.o-card__header {
    @include ds-spacing-em(py, half);
    border-bottom: ds-px-to-em(1) solid $ds-colors-gallery;
    display: flex;
    align-items: center;
}

.o-card__footer {
    border-top: ds-px-to-em(1) solid $ds-colors-gallery;
}

.o-card__titles {
    display: inline-block;
}

.o-card__title {
    margin-bottom: 0;
    color: $ds-colors-neutral-black;
    font-weight: 700;
}

.o-card__subtitle {
    @include ds-fluid-type(0, 0);
    color: $ds-colors-pantone-cool-gray-4;
    margin-bottom: 0;
}

.o-card__body {
    overflow-y: auto;
    height: 100%;
}

.o-card--constrict-body-height {
    .o-card__body {
        max-height: 375px;
    }
}

.o-card--full-body-height {
    .o-card__body {
        max-height: 100%;
    }
}

.o-card--no-padded-body {
    .o-card__body {
        padding: 0;
    }
}