//-----------------------
//
// Public > Utils > Align
//-----------------------

.u-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-align-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.u-align-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}