//----------------------
//
// Public > Utils > Font
//----------------------

.u-font-light {
    font-weight: 300 !important;
}

.u-font-normal {
    font-weight: 400 !important;
}

.u-font-heavy {
    font-weight: 700 !important;
}

.u-font-primary {
    font-family: $ds-typography-font-primary !important;
}