//---------------------------
//
// Common > Variables > Colors
//
// Use http://chir.ag/projects/name-that-color/ to determine the variable name
// that corresponds to the color.
//---------------------------

$ds-colors-black: #000 !default;
$ds-colors-white: #fff !default;
$ds-colors-neutral-black: #3d3d3f !default;

$ds-colors-pantone-cool-gray-1: #dfe0de !default;
$ds-colors-pantone-cool-gray-4: #b9b7b9 !default;

$ds-colors-gallery: #eaeaea !default;
$ds-colors-alabaster: #f9f9fa !default;

$ds-colors-pantone-306: #1db3e7 !default;
$ds-colors-teal-blue: #005c79 !default;

$ds-colors-valencia: #D73A49 !default;
$ds-colors-cosmos: #ffdce0 !default;

$ds-colors-eucalyptus: #28a745 !default;
$ds-colors-snowy-mint: #dcffe4 !default;