//--------------------------------
//
// Common > Variables > Typography
//--------------------------------

$ds-typography-ratio-xs: 1.2 !default;
$ds-typography-font-size-xs: 100 !default; // %

$ds-typography-ratio-lg: 1.3 !default;
$ds-typography-font-size-lg: 112.5 !default; // %

$ds-typography-font-primary: 'Source Sans Pro', sans-serif !default;